/*
 * extra space at bottom of left sidebar to accommodate status bars
 */
#left-side #section-tabs {
  margin-bottom: 1in;
}

/*
 * move masquerade button onscreen for convenience
 */
div:has(> a[href$="/masquerade"]):not(:has(.stop_masquerading)) {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  margin-left: -50%;
}
div > a[href$="/masquerade"]:not(.stop_masquerading) {
  margin-top: 1.25rem !important;
}
